@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 1rem 8rem;
  height: 5rem;
}

header.sticky {
  position: fixed;
  background: rgba(0, 0, 0, 0.598);
  transition: 0.3s;
}

header .nav__links .link.active {
  border-bottom: 1px solid #dda0dd;
  border-width: 0.2rem;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #ddd;
  font-weight: 600;
  margin-left: 2rem;
  /* border-left: 1px solid #fafafa2b; */
  padding: 0.5rem 1rem;
}

/* header nav ul li a:hover {
  color: #ddd;
} */

header .logo {
  display: flex;
  align-items: flex-end;
}

header .logo img {
  width: 9rem;
}

.hamburger {
  display: none;
}

.hamburger .bar {
  background-color: #ddd;
  width: 25px;
  height: 3px;
  display: block;
  margin: 5px 0;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

@media (max-width: 900px) {
  header {
    padding: 1rem;
  }

  header .logo img {
    width: 5rem;
    margin-top: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  nav {
    background-color: #000;
    color: #fafafa;
    top: 0;
    left: -100%;
    width: 60%;
    position: fixed;
    transition: 0.5s;
    min-height: 100vh;
    text-align: center;
  }

  nav.active {
    left: 0;
  }

  header nav ul {
    display: block;
    padding: 5rem;
  }

  header nav ul li {
    margin-bottom: 3rem;
  }

  header nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    margin-left: 0;
  }

  header nav ul li a:hover {
    color: #c9c9c9;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #ddd;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #ddd;
  }
}

/* HERO */

.hero {
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(243, 110, 248, 0.7)
    ),
    url(./Img/hero1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero .hero-title {
  width: 80%;
  margin: auto;
}

.hero .hero-title .image h1 {
  font-size: 5rem;
  font-weight: 600;
  width: 50%;
  position: absolute;
  top: 35%;
  color: #dddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 900px) {
  .hero {
    min-height: 50vh;
  }

  .hero .hero-title .image h1 {
    font-size: 2rem;
    width: 80%;
  }
}

/* SUPPORT */

.support {
  padding: 60px 0;
}

.support .support-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.support .support-container .item {
  width: 50%;
  margin-right: 1rem;
}

.support .support-container i {
  margin-bottom: 1rem;
  color: #dda0dd;
  font-size: 2rem;
}

.support .support-container h3 {
  margin-bottom: 0.5rem;
}

.support .support-container p {
  color: #aca8a8;
}

@media (max-width: 900px) {
  .support .support-container {
    display: block;
  }

  .support .support-container i {
    font-size: 1.5rem;
  }

  .support .support-container h3 {
    font-size: 1rem;
  }

  .support .support-container p {
    font-size: 0.8rem;
  }

  .support .support-container .item {
    margin-bottom: 3rem;
    width: 100%;
    margin-right: 0;
  }
}

/* CATEGORIES */

.categories {
  padding: 60px 0;
}

.categories .container {
  width: 80%;
  margin: auto;
}

.categories .container .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  background-color: #000;
}

.categories .container .col {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px;
}

.categories .container .col-l {
  flex: 2;
}

.categories .container .row {
  flex: 1;
  display: flex;
  gap: 2px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 900px) {
  .categories {
    padding: 40px 0;
  }

  .categories .container {
    width: 90%;
  }

  .categories .container .row {
    display: block;
  }
}

/* PRODUCTS */

.products {
  padding: 60px 0;
}

.products-container {
  width: 80%;
  margin: auto;
}

.products-container h2,
.products-container p {
  text-align: center;
  margin-bottom: 1rem;
}

.products-container p {
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
  font-family: sans-serif;
  color: gray;
}

.products-container .products-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.products-container .products-items .item {
  position: relative;
}

.products-container .products-items .item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 5px;
}

.products-container .products-items .item p.price {
  position: absolute;
  top: 1rem;
  padding: 0.5rem;
  background: #dda0dd;
  color: #000;
  border-radius: 0 5px 5px 0;
  width: fit-content;
  font-weight: 600;
}

@media (max-width: 900px) {
  .products-container p {
    font-size: 0.9rem;
    width: 100%;
  }

  .products-container .products-items {
    display: block;
  }

  .products-container .products-items .item {
    margin-bottom: 1rem;
  }

  .products-container .products-items .item img {
    height: 18rem;
  }
}

/* FOOTER */

.footer-container {
  background-color: #000;
  padding: 60px 0;
}

.footer-container p.copy-right {
  text-align: center;
  color: gray;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.footer-container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.footer-container .container .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-container .container .logo img {
  width: 5rem;
}

.footer-container .container .logo .icons {
  gap: 0.5rem;
  display: flex;
}

.footer-container .container .logo .icons a {
  text-decoration: none;
  color: gray;
  gap: 0.5rem;
  display: flex;
  font-size: 1.5rem;
}

.footer-container .container .links h3 {
  color: gray;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

.footer-container .container .links ul li {
  list-style: none;
}

.footer-container .container .links ul li a {
  text-decoration: none;
  color: gray;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.footer-container .container .address h3 {
  color: gray;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

.footer-container .container .address i {
  margin-top: 0.5rem;
}

.footer-container .container .address .location {
  margin-bottom: 1rem;
}

.footer-container .container .address .location,
.footer-container .container .address .phone {
  display: flex;
  gap: 0.5rem;
  color: gray;
}

.footer-container .container .address .location {
  font-family: sans-serif;
  line-height: 1.8;
}

.footer-container .container .address .phone .nums {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .footer-container p.copy-right {
    font-size: 0.8rem;
  }

  .footer-container .container {
    display: block;
  }

  .footer-container .container .logo {
    margin-bottom: 3rem;
    display: block;
  }

  .footer-container .container .logo .icons a {
    gap: 1rem;
    font-size: 1rem;
  }

  .footer-container .container .links {
    margin-bottom: 3rem;
  }

  .footer-container .container .links h3,
  .footer-container .container .address h3 {
    font-size: 1rem;
  }

  .footer-container .container .address {
    font-size: 0.9rem;
  }

  .footer-container .container .links ul li a {
    font-size: 0.8rem;
  }
}

/* ABOUT PAGE */

.about-hero {
  min-height: 50vh;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgba(243, 110, 248, 0.7)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-hero .hero-title {
  width: 80%;
  margin: auto;
}

.about-hero .hero-title .image h1 {
  font-size: 4rem;
  font-weight: 600;
  position: absolute;
  top: 45%;
  color: #dddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 900px) {
  .about-hero .hero-title .image h1 {
    font-size: 2rem;
  }
}

/* ABOUT CONTAINER */

.about {
  padding: 50px 0;
}

.about .about-container {
  width: 80%;
  margin: auto;
  display: flex;
}

.about .about-container .about-title {
  margin-left: 5rem;
}

.about .about-container .about-title h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.about .about-container .about-title p {
  font-family: sans-serif;
  line-height: 1.8;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .about .about-container {
    display: block;
  }

  .about .about-container img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .about .about-container .about-title {
    margin-left: 0;
  }

  .about .about-container .about-title h3 {
    font-size: 2rem;
  }
}

/* VALUES */

.values {
  padding: 50px 0;
  background-color: #dda0dd;
  color: #000;
}

.values h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.values .values-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.values .values-container h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: sans-serif;
}

.values .values-container .value {
  margin-left: 2rem;
}

.values .values-container .value p {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}

@media (max-width: 900px) {
  .values h3 {
    font-size: 2rem;
  }

  .values .values-container {
    display: block;
  }

  .values .values-container h4 {
    font-size: 1.3rem;
  }

  .values .values-container .value {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .values .values-container .value p {
    font-size: 0.8rem;
  }
}

/* PRODUCTS PAGE */

.products-hero {
  min-height: 50vh;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgba(243, 110, 248, 0.7)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.products-hero .hero-title {
  width: 80%;
  margin: auto;
}

.products-hero .hero-title .image h1 {
  font-size: 4rem;
  font-weight: 600;
  position: absolute;
  top: 45%;
  color: #dddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 900px) {
  .products-hero .hero-title .image h1 {
    font-size: 2rem;
  }
}

/* PRODUCTS TITLE */

.products-title {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.products-title h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.products-title p {
  width: 50%;
  line-height: 1.5;
  font-family: sans-serif;
}

.products-title .products-title__container {
  padding: 30px 0;
  position: sticky;
  top: 10%;
  background-color: #fafafa;
  z-index: 99;
}

.products-title .products-title__container .products-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products-title .products-title__container .products-container ul li {
  list-style: none;
  font-family: sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.products-title__container .nav__link.active {
  background-color: #dda0dd;
  padding: 0.5rem 1rem;
  color: #000;
  border-radius: 5px;
}

.products-title .products-items {
  padding: 30px 0;
  width: 100%;
  margin: auto;
}

.products-title .products-items .div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.products-title .products-items .item img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 0.2rem;
  border-radius: 3px;
}

.products-title .products-items .item {
  width: fit-content;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
}

.products-title .products-items .item .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

.products-title .products-items .item .title span {
  font-weight: 600;
}

@media (max-width: 900px) {
  .products-title h3 {
    font-size: 1.3rem;
  }

  .products-title p {
    width: 100%;
  }

  .products-title .products-title__container .products-container ul li {
    font-size: 1rem;
  }

  .products-title .products-items .item img {
    width: 100%;
    height: 17rem;
  }

  .products-title .products-items .item {
    width: 100%;
  }
}

/* FEATURED PRODUCTS */

.featured {
  padding: 50px 0;
  width: 80%;
  margin: auto;
}

.featured h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.featured p {
  font-family: sans-serif;
  width: 60%;
  margin-bottom: 1rem;
}

.featured .featured-container {
  overflow: hidden;
  position: relative;
}

.featured .featured-container .feature {
  height: 100%;
  margin: 0.5rem;
}

.featured .featured-container .feature img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.featured .featured-container .feature .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  background-color: #dda0dd;
  padding: 0.5rem 0.5rem;
  border-radius: 3px;
}

.featured .featured-container .feature .price {
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .featured h3 {
    font-size: 1.5rem;
  }

  .featured p {
    width: 100%;
  }
}
